= content_for :title, 'Log In'
.centralize
  %h1 Log In
  -ajax ||= false
  = form_tag sessions_path, remote: ajax do
    %div{ class: "#{field_class(@session, :email)}" }
      .center
        = label_tag :email, 'Email Address'
        = text_field_tag :email, params[:email]
        %p= error_message(@session, :email)
    %div{ class: "#{field_class(@session, :password)}" }
      .center
        = label_tag :password
        = password_field_tag :password
        %p= error_message(@session, :password)
    .submit
      .center
        = submit_tag 'Log In'
    .signup
      %div or
      %div= link_to "Sign Up", new_user_path
