.container.comment{id: "#{dom_id(comment)}"}
  %header
    %span
      = gravatar(comment.user)
      = "#{comment.user.name} on #{comment.created_at.strftime("%H:%M, %d %B %Y")}"
  %main
    = comment.body
