.container{id: "#{dom_id(comment)}"}
  %header
    = link_to user_path(comment.user) do
      = gravatar(comment.user)
      = comment.user.name
    = comment.created_at.strftime("%H:%M, %d %B %Y")
  %main
    = comment.body
