= form_for [@post, @new_comment], remote: true do |f|
  %div{ class: "#{field_class(@new_comment, :body)}" }
    = f.text_area :body
    %p= error_message(@new_comment, :body)
  - if @parent_comment
    = f.hidden_field :parent_id, value: @parent_comment.id
  .submit
    = f.submit 'Add comment'