= form_for(@user) do |f|
  %div{ class: "#{field_class(@user, :name)}" }
    .center
      = f.label :name
      = f.text_field :name
      %p= error_message(@user, :name)
  %div{ class: "#{field_class(@user, :email)}" }
    .center
      = f.label :email
      = f.text_field :email
      %p= error_message(@user, :email)
  %div{ class: "#{field_class(@user, :password)}" }
    .center
      = f.label :password
      = f.password_field :password
      %p= error_message(@user, :password)
  %div{ class: "#{field_class(@user, :password_confirmation)}" }
    .center
      = f.label :password_confirmation, 'Password Confirmation'
      = f.password_field :password_confirmation
      %p= error_message(@user, :password_confirmation)
  = f.submit 'Sign Up'
