= form_for(@post) do |f|
  %div{ class: "#{field_class(@post, :title)}" }
    = f.label :title
    = f.text_field :title
    %p= error_message(@post, :title)
  %div{ class: "#{field_class(@post, :body)}" }
    = f.label :body
    = f.text_area :body, id: '#mde'
    %p= error_message(@post, :body)
  %div{ class: "#{field_class(@post, :tags)}" }
    = f.label :tags, 'Tags (separated by commas or whitespaces)'
    = f.text_field :tags
    %p= error_message(@post, :tags)
  .submit
    = f.submit
  = render 'shared/mde'