= form_for(@post) do |f|
  %div{ class: "#{post_field_class(:title)}" }
    = f.label :title
    = f.text_field :title
    %p= post_error_message(:title)
  %div{ class: "#{post_field_class(:body)}" }
    = f.label :body
    = f.text_area :body
    %p= post_error_message(:body)
  %div{ class: "#{post_field_class(:tags)}" }
    = f.label :tags
    = f.text_field :tags
    %p= post_error_message(:tags)
  .submit
    = f.submit
