.container.post{id: "#{dom_id(post)}"}
  %header
    .post-title
      = link_to post.title, post_path(post)
    .post-credits
      .post-datetime= post.created_at.strftime("%H:%M, %d %B %Y")
      .post-author
        = link_to user_path(post.user) do
          = post.user.name
          = gravatar(post.user)
  %main{class: ('preview' unless action_name == 'show')}
    - unless post.cover_image.blank?
      .post-cover-image
        - if post.cover_image.include?('bandcamp.com')
          = render partial: 'shared/player', locals: { attr: post.cover_image.split(' ')}
        - else
          = image_tag(post.cover_image)
    .post-body
      - if action_name == 'show'
        = markdown(post.body)
      - else
        %p= truncate(strip_tags(markdown(post.body)), length: 400, separator: '.', omission: '.')
  %footer
    .post-labels
      - post.tags.split(%r{,+\s+|,+|\s+}).each do |tag|
        - if params[:mode]
          = link_to posts_path(tag: tag, mode: params[:mode]) do
            %span.tag{class: ('active' if params[:tag] == tag)}
              = tag
        - else
          = link_to posts_path(tag: tag) do
            %span.tag{class: ('active' if params[:tag] == tag)}
              = tag
    .post-stats-wrap
      .post-stats
        = link_to post_path(post, anchor: 'comments') do
          %span
            - if post.commenters.exists?(current_user)
              = fa_icon 'comments'
            - else
              = fa_icon 'comments-o'
            = post.comments.count
        = link_to star_post_path(post), method: :post do
          %span
            - if post.starred_users.exists?(current_user)
              = fa_icon 'star'
            - else
              = fa_icon 'star-o'
            = post.starred_users.count
        = link_to 'Read more', post_path(post)
      .post-likes
        = button_to like_post_path(post), class: 'like' do
          = fa_icon 'thumbs-o-up'
        %span.post-rating{ class: ('negative' if post.rating < 0) }
          = post.rating
        = button_to dislike_post_path(post), class: 'dislike' do
          = fa_icon 'thumbs-o-down'
      .post-buttons
        - if post.user == current_user
          = button_to 'Edit', edit_post_path(post), method: :get, class: 'edit'
          = button_to 'Destroy', post, class: 'delete', method: :delete, data: {confirm: 'Are you sure?'}
