<% if @posts.count > 0 %>
    <% color = nil %>
    <% @posts.each do |post| %>
        <% color = if color.nil? || color == 'three' %>
            <% 'one' %>
        <% elsif color == 'one' %>
            <% 'two' %>
        <% else %>
            <% 'three' %>
        <% end %>
        <div id="<%= dom_id(post) %>" class="container container-<%= color %>">
          <header>
            <%= post.title %> by <%= post.user.name %>
          </header>
          <main><%= post.body %></main>
          <footer><%= post.tags %>
            <% if post.user == @current_user %>
                <%= button_to 'Show', post, method: :get, class: 'show' %>
                <%= button_to 'Edit', edit_post_path(post), method: :get, class: 'edit' %>
                <%= button_to 'Destroy', post, class: 'delete', method: :delete, data: {confirm: 'Are you sure?'} %>
            <% end %>
          </footer>
        </div>
    <% end %>
<% else %>
    There are no posts yet.
<% end %>
