<% if @posts.count > 0 %>
    <% @posts.each do |post| %>
        <div id="<%= dom_id(post) %>" class="container">
          <% if post.user.id == session[:user_id] %>
              <header>
                <% button_to 'Show', post, method: :get, class: 'show' %>
                <%= button_to 'Edit', edit_post_path(post), method: :get, class: 'edit' %>
                <%= button_to 'Destroy', post, class: 'delete', method: :delete, data: {confirm: 'Are you sure?'} %>
              </header>
          <% end %>
          <main><h3 class="post-title"><%= post.title %></h3>

            <div class="post-header">
<span class="post-labels">
<% post.tags.split(%r{,+\s+|,+|\s+}).each do |tag| %>
  <%= link_to tag, "/##{tag}" %>
  <% end %>
</span>
<span class="post-credits">
Author: <%= post.user.name %>
  on <%= post.created_at.strftime("%H:%M, %d %B %Y") %>
</span>
            </div>
            <p><%= post.body %></main>
          </p>
        </div>
    <% end %>
<% else %>
    No posts found.
<% end %>
