<div class="container">
  <main><h3 class="post-title"><%= @post.title %></h3>

    <div class="post-header">
<span class="post-labels">
<% @post.tags.split(%r{,+\s+|,+|\s+}).each do |tag| %>
  <%= link_to tag, "/##{tag}" %>
  <% end %>
</span>
<span class="post-credits">
Author: <%= @post.user.name %>
  on <%= @post.created_at.strftime("%H:%M, %d %B %Y") %>
</span>
    </div>
    <p><%= @post.body %></p>
  </main>
  <footer>
    <%= button_to 'Back', root_path, method: :get %>
    <% if @post.user.id == session[:user_id] %>
        <% button_to 'Show', @post, method: :get, class: 'show' %>
        <%= button_to 'Edit', edit_post_path(@post), method: :get, class: 'edit' %>
        <%= button_to 'Destroy', @post, class: 'delete', method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </footer>
</div>

