<!DOCTYPE html>
<html>
<head>
  <title>RoR coding notes</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar">
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'New Post', new_post_path if current_user %></li>
      <li><%= form_tag root_path, method: :get, class: 'search' do %>
            <%= search_field_tag :search, params[:search], placeholder: 'Search', value: params[:search] %>
            <%= submit_tag 'Search', name: nil %>
        <% end %></li>
    </ul>
    <ul>
      <% if current_user %>
          <li><%= current_user.name %></li>
          <li><%= link_to "Log Out", log_out_path %></li>
      <% else %>
          <li><%= link_to "Sign Up", new_user_path %></li>
          <li><%= link_to "Log In", log_in_path %></li>
      <% end %>
    </ul>
  </nav>
</div>

<div class="logo">
  <h1>RoR coding notes</h1>
</div>

<div class="posts">
  <% flash.each do |type, message| %>
      <div class="alert">
        <%= message %>
      </div>
  <% end %>

  <%= yield %>
</div>

<% if set_promo_banner? %>
    <%= render 'shared/promo' %>
<% end %>
</body>
</html>
